{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^react-(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^(.*)\\.css$",
    "^(\\.{1,2}/.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80
}
